{%- comment -%}
{%- endcomment -%}
{% comment %}
When a comment is submitted, the browser is redirected to a page that includes
the new comment id in its URL.
#comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
	{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="tt-page__breadcrumbs">
	{% include 'breadcrumbs' %}
</div>
<div class="tt-layout__section--pdg-mob">
	<div class="tt-page__cont-small">
		<div class="tt-post-head">
			<h1 class="tt-post-head__title">{{ article.title }}</h1>
			{% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
			{%- if section.settings.show_author == true -%}
				<div class="tt-post-head__info">{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</div>
			{%- endif -%}
		</div>
		{%- if section.settings.show_featured_image -%}
			{% if article.image %}
				<div class="tt-post-text">
					{{ article | img_url: '1024x1024' | img_tag: article.title }}
				</div>
			{% endif %}
		{%- endif -%}
	</div>
	<div class="tt-post-text tt-layout__section--pdg-desk">
		{% if section.settings.content_layout == 'fullwidth' %}
			{{ article.content }}
		{% elsif section.settings.content_layout == 'boxed' %}
			<div class="tt-page__cont-small">
				{{ article.content }}
			</div>
		{% endif %}
	</div>

	<div class="tt-page__cont-small">
		<div class="tt-post-text">
			<div class="tt-post-text__info">
				{%- comment -%} ### Author ### {%- endcomment -%}
				{%- if section.settings.show_author == true -%}
					{% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
					{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
				{%- endif -%}
			</div>
			<div class="tt-post-text__footer">
				{% if article.tags.size > 0 %}
					<div class="tt-post-text__tags">
						<i class="icon-tag-1"></i>
						{% for tag in article.tags %}
							<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
						{% endfor %}
					</div>
				{% endif %}
				{%- if section.settings.show_social_links == true -%}
					{% assign set-style = 4 %}
					{% include 'social-links' %}
				{%- endif -%}
			</div>
			{%- if section.settings.show_addthis == true -%}
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style ttg-mt--10"{% if article.url %} addthis:url="{{ shop.url }}{{ article.url }}" addthis:title="{{ article.title }}"{% endif %}>
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
				</div>
			{%- endif -%}
		</div>
	</div>

	{% for item in blog.articles %}
		{% if article.url == item.url %}
			{% assign i = forloop.index0 %}
		{% endif %}
	{% endfor %}
	{% assign iprev = i | minus: 1 %}
	{% assign inext = i | plus:1 %}
	{% assign total = blog.articles.size %}
	{% assign nav-needed = 'false' %}

	{%- if i > 0 -%}
		{% assign nav-needed = 'true' %}
	{%- endif -%}
	{%- if inext < total -%}
		{% assign nav-needed = 'true' %}
	{% endif %}

	{%- if nav-needed == 'true' -%}
		<div class="tt-post-nav__wrap">
			<div class="tt-page__cont-small">
				<div class="tt-post-nav">
					{%- if i > 0 -%}
						{% assign prev = blog.articles[iprev] %}
						<a href="{{ prev.url }}" class="tt-post-nav__prev">
							<i class="icon-left-open-big"></i>
							<div>
								<span>{{ 'blogs.article.prev_post' | t }}</span>
								<p>{{ prev.title }}</p>
							</div>
						</a>
					{%- endif -%}
					{%- if inext < total -%}
						{% assign next = blog.articles[inext] %}
						<a href="{{ next.url }}" class="tt-post-nav__next">
							<div>
								<span>{{ 'blogs.article.next_post' | t }}</span>
								<p>{{ next.title }}</p>
							</div>
							<i class="icon-right-open-big"></i>
						</a>
					{%- endif -%}
				</div>
			</div>
		</div>
	{%- endif -%}


	{% if blog.comments_enabled? %}

		{% if comment and comment.status and paginate.current_page == 1 %}
			<p class="form-success">
				{% if blog.moderated? and comment.status != 'published' %}
					{{ 'blogs.comments.success_moderated' | t }}
				{% else %}
					{{ 'blogs.comments.success' | t }}
				{% endif %}
			</p>
		{% endif %}


		{%- if number_of_comments > 0 -%}
			<div class="tt-page__cont-small">
				<div id="comments" class="tt-comments tt-post__comments">
					<div class="tt-comments__title">{{ 'blogs.article.comments_count' | t: number: number_of_comments }}</div>

					{% comment %}
					Display comment from URL parameters if it is waiting moderation
					{% endcomment %}
					{% if comment and comment.status != 'published' %}
						<div class="tt-comments__section">
							<div id="{{ comment.id }}">
								{% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
								<div class="tt-comments__info">{{ 'blogs.article.author_on_date_html' | t: author: comment.author, date: date }}</div>
								<div class="rte">
									{{ comment.content }}
								</div>
							</div>
						</div>
					{% endif %}

					{% paginate article.comments by 50 %}
					{% for comment in article.comments %}
						<div class="tt-comments__section">
							<div id="{{ comment.id }}">
								{% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
								<div class="tt-comments__info">{{ 'blogs.article.author_on_date_html' | t: author: comment.author, date: date }}</div>
								<div class="rte">
									{{ comment.content }}
								</div>
							</div>
						</div>
					{% endfor %}

					{% if paginate.pages > 1 %}
						{% include 'pagination' %}
					{% endif %}

					{% endpaginate %}


				</div>
			</div>
		{%- endif -%}

		<div class="tt-page__cont-small ttg-mt--60">
			<div class="tt-form tt-post__review">

				<div class="tt-form__title">{{ 'blogs.comments.title' | t }}</div>
				<p class="ttg-text--highlight">{{ form.errors | default_errors }}</p>

				{%- comment -%} ###
				<p class="ttg__required">Your email address will not be published.</p>
				### {%- endcomment -%}
				{% form 'new_comment', article %}
				<div class="tt-form__form">
					<div class="row">
						<div class="col-md-2">
							<label for="CommentAuthor" class="ttg__required">{{ 'blogs.comments.name' | t }}</label>
						</div>
						<div class="col-md-10">
							<input type="text"
								   name="comment[author]"
								   id="CommentAuthor"
								   class="form-control colorize-theme6-bg {% if form.errors contains 'author' %}input-error{% endif %}"
								   placeholder="{{ 'blogs.comments.name' | t }}"
								   value="{{ form.author }}"
								   autocapitalize="words"
								   required="required">
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="CommentEmail" class="ttg__required">{{ 'blogs.comments.email' | t }}</label>
						</div>
						<div class="col-md-10">
							<input type="email"
								   name="comment[email]"
								   id="CommentEmail"
								   class="form-control colorize-theme6-bg {% if form.errors contains 'email' %}input-error{% endif %}"
								   placeholder="{{ 'blogs.comments.email' | t }}"
								   value="{{ form.email }}"
								   spellcheck="false"
								   autocomplete="off"
								   required="required">
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="CommentBody" class="ttg__required">{{ 'blogs.comments.message' | t }}</label>
						</div>
						<div class="col-md-10">
						<textarea name="comment[body]"
								  id="CommentBody"
								  class="form-control colorize-theme6-bg {% if form.errors contains 'body' %}input-error{% endif %}"
								  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 offset-md-2">
							{% if blog.moderated? %}
								<p>{{ 'blogs.comments.moderated' | t }}</p>
							{% endif %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-10 offset-md-2">
							<input type="submit" class="btn btn--xs-flw" value="{{ 'blogs.comments.post' | t }}">
						</div>
					</div>
				</div>
				{% endform %}
			</div>
		</div>
	{% endif %}
</div>
