{%- comment -%}
{%- endcomment -%}
{% if loc-rposts == 'false' %}

	{%- if block.settings.caption -%}
		<div class="tt-layer-nav__title">{{ block.settings.caption }}</div>
	{%- endif -%}


	<div class="tt-layer-nav__recent">
	{% assign blog_handles = section.settings.blog-handlers %}
	{% assign blog_list = blog_handles | split: ',' %}

	{% for blog_handle in blog_list %}
		{% assign blog_handle_handleized = blog_handle | trim | handleize %}
		{% for article in blogs[blog_handle_handleized].articles limit: 1%}
			{% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
			<div>
				<div class="tt-layer-nav__recent-category"><a href="{{ blogs[blog_handle_handleized].url }}">{{ blogs[blog_handle_handleized].title }}</a></div>
				<div class="tt-layer-nav__recent-info">{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</div>
				<p class="tt-layer-nav__recent-title">{{ article.title }}</p>
				<p>{{ article.content | strip_html | truncatewords: 10, "..." }} <a href="{{ article.url }}" class="tt-layer-nav__more">{{ block.settings.more }}</a></p>
			</div>
		{% endfor %}
	{% endfor %}
	</div>




	{% assign loc-rposts = 'true' %}
{% endif %}