{%- comment -%}
{%- endcomment -%}
<div class="tt-pagination tt-collection-param" data-tt-property="page" data-collection-replace="paginate">
  {% if paginate.pages > 1 %}
    {% assign pagenate_from = 1 %}
    {% if paginate.current_page > 3 %}
      {% assign pagenate_from = paginate.current_page | minus: 2 %}
    {% endif %}
    {% assign pagenate_to = paginate.current_page | plus: 2 %}

    {% if paginate.current_page != 1 %}
      {% assign paginate_prev = paginate.current_page | minus: 1 %}
    {% endif %}

    <a href="#{{ paginate_prev }}" class="btn tt-pagination__prev{% if paginate_prev == blank %} ttg-hidden{% endif %}" data-tt-value="{{ paginate_prev }}">{{ 'general.paginate.btn_prev' | t }}</a>

    <div class="tt-pagination__numbs">
      {% for num in (pagenate_from..pagenate_to) limit: paginate.pages %}
        {% if num == paginate.current_page %}
          <span data-tt-value="{{ num }}">{{ num }}</span>
        {% else %}
          <span data-tt-value="{{ num }}"><a href="#{{ num }}">{{ num }}</a></span>
        {% endif %}
      {% endfor %}
    </div>

    {% if paginate.pages > paginate.current_page %}
      {% assign paginate_next = paginate.current_page | plus: 1 %}
    {% endif %}
    <a href="#{{ paginate_next }}" class="btn tt-pagination__next{% if paginate_next == blank %} ttg-hidden{% endif %}" data-tt-value="{{ paginate_next }}">{{ 'general.paginate.btn_next' | t }}</a>
  {% endif %}
</div>