{%- comment -%}
{%- endcomment -%}
{% paginate collection.products by current_pagination_limit %}
<div class="tt-listing-page">

	{% if settings.layout-show_breadcrumbs %}
		<div class="tt-page__breadcrumbs" data-collection-replace>
			{% include 'breadcrumbs' %}
		</div>
	{% endif %}

	<div class="tt-listing-page__head" data-collection-replace>
		{% include 'collection-head-new' %}
	</div>

	{% if settings.collection-show_sort_by %}
		{% capture res-col_left %}
		<div class="tt-vw-opt__sort tt-collection-param" data-tt-property="sort_by">
			<span>{{ 'collections.info.sort' | t }}</span>
			<label class="tt-select">
				{% assign collection.sort_by = collection.sort_by %}
				<select class="form-control">
					{% assign sort_handles = 'best-selling|price-ascending|price-descending|title-ascending|title-descending|created-descending' | split: '|' %}
					{% assign sort_titles = 'Style|Price, Low To High|Price, High To Low|Product Name, A-Z|Product Name, Z-A|Latest Additions' | split: '|' %}
					{% for handle in sort_handles %}
						{% if collection.sort_by == blank and collection.default_sort_by == handle %}
							<option data-tt-value="{{handle}}" selected>{{ sort_titles[forloop.index0] }}</option>
							{% elsif sort_by == handle %}
							<option data-tt-value="{{handle}}" selected>{{ sort_titles[forloop.index0] }}</option>
						{% else %}
							<option data-tt-value="{{handle}}">{{ sort_titles[forloop.index0] }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</label>
		</div>
		{% endcapture %}
	{% endif %}

	{% if settings.collection-show_info %}
		{% capture res-col_center %}
			<div class="tt-vw-opt__info" data-collection-replace="paginate">
				{% assign current_pag_limit_num = current_pagination_limit | plus: 0 %}
				{% if collection.products_count > current_pag_limit_num %}
					{% assign info_times_limit = paginate.current_page | minus: 1 %}
					{% assign info_from = current_pag_limit_num | times: info_times_limit | plus: 1 %}
					{% assign info_to = current_pag_limit_num | times: paginate.current_page %}
					{% if info_to > collection.products_count %}
						{% assign info_to = collection.products_count %}
					{% endif %}
					<span>{{ 'collections.info.more_limit' | t: from: info_from, to: info_to, count: collection.products_count }}</span>
					{% elsif collection.products_count == 1 %}
					<span>{{ 'collections.info.result_single' | t }}</span>
					{% elsif collection.products_count == 0 %}
					<span>{{ 'collections.info.result_empty' | t }}</span>
				{% else %}
					<span>{{ 'collections.info.less_limit' | t: count: collection.products_count }}</span>
				{% endif %}
			</div>
		{% endcapture %}
	{% endif %}

	{% if settings.collection-show_length or settings.collection-show_view %}
		{% capture res-col_right %}
			{% if settings.collection-show_length %}
				<div class="tt-vw-opt__length tt-collection-param" data-tt-property="view">
					<span>{{ 'collections.info.product_view' | t }}</span>
					<label class="tt-select">
						<select class="form-control">
							{% assign select_pagination_limit = '6|9|12' | split: '|' %}
							{% for value in select_pagination_limit %}
								<option data-tt-value="{{ value }}"{% if value == current_pagination_limit %} selected{% endif %}>{{ value }}</option>
							{% endfor %}
						</select>
					</label>
				</div>
			{% endif %}
  			{% comment %}
			{% if settings.collection-show_view %}
				<div class="tt-vw-opt__grid">
					<div class="tt-product-btn-vw tt-collection-param" data-control=".tt-product-view" data-tt-property="view" data-tt-default="grid">
						<label>
							<input type="radio" name="product-btn-vw" data-tt-value="grid"{% if current_view == 'grid' %} checked{% endif %}>
							<i class="icon-th-large"></i>
							<i class="icon-check-empty"></i>
						</label>
						<label>
							<input type="radio" name="product-btn-vw" data-view-class="tt-product-view--list" data-tt-value="list"{% if current_view == 'list' %} checked{% endif %}>
							<i class="icon-th"></i>
						</label>
					</div>
				</div>
			{% endif %}
  		{% endcomment %}
		{% endcapture %}
	{% endif %}

	{% if res-col_left == blank %}
		{% assign res-col_left = res-col_center %}
		{% assign res-col_center = null %}
	{% endif %}

	{% if settings.collection-show_sort_by or settings.collection-show_info or settings.collection-show_length or settings.collection-show_view %}
		<div class="tt-listing-page__view-options tt-vw-opt">
			<div class="row">
				<div class="col-xl-5 col-lg-5 col-md-5 col-xs-8">
					{{ res-col_left }}
				</div>
				<div class="col-xl-4 col-lg-3 col-md-5 col-xs-12">
					{{ res-col_center }}
				</div>
				<div class="col-xl-3 col-lg-4 col-md-2 col-xs-4">
					{{ res-col_right }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="tt-listing-page__products">
		<div class="tt-product-view row{% if current_view == 'list' %} tt-product-view--list{% endif %}">
			{% assign res-collection_cols = 12 | divided_by: settings.collection_row_length %}
			{% assign loc-layout = settings.layout-container_collection %}
			{% assign res-grid = 'col-sm-6' %}
			{% if loc-layout == 'fullwidth' or loc-layout == 'boxed' %}
				{% assign res-grid = res-grid | append: ' col-lg-4 col-xl-3' %}
			{% else %}
				{% assign res-grid = res-grid | append: ' col-xl-4' %}
			{% endif %}

			{% if settings.collection_row_length_mobile == '2' %}
				{% assign res-grid = res-grid | prepend: 'col-xs-6 ' %}
			{% endif %}

			{% for product in collection.products %}
				<div class="{{ res-grid }} col-xxl-{{ res-collection_cols }}">
					{%- assign set-image_size = '480x480' -%}
					{%- if settings.collection_pd_type == 'afterimage' -%}
						{%- assign set-view = 'sheet' -%}
					{%- endif -%}
					{% include 'product-list' with set-view %}
				</div>
			{% else %}
				{% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
					{% for i in (1..8) %}
						<div class="col-xs-12">
							<a href="#">
								{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
							</a>
							<p><a href="#">{{ 'homepage.onboarding.product_title' | t }}</a></p>
							<p>{{ 1999 | money }}</p>
						</div>
					{% endfor %}
				{% else %}
					<div class="col-xs-12">
						<div class="tt-empty">
							{% if settings.collection_empty_image != blank %}
                          	{% comment %}
								{% assign image_size = settings.collection_empty_image_width | append: 'x' %}
								<i class="tt-empty__icon"><img src="{{ settings.collection_empty_image | img_url: image_size }}" alt="{{ 'collections.general.no_matches_title' | t }}"></i>
							{% endcomment %}
                          {% else %}
								<div class="tt-empty__svgicon">
									{% comment %}{% include 'icon-mogo-sad-color' %}{% endcomment %}
								</div>
							{% endif %}
							<div class="tt-page__name text-center">
								<h1>{{ 'collections.general.no_matches_title' | t }}</h1>
								<p>{{ 'collections.general.no_matches_parag' | t }}</p>
							</div>
							{% if settings.collection_empty_btn_link != blank %}
								<div class="tt-empty__btn">
									<a href="{{ settings.collection_empty_btn_link }}" class="btn">{{ 'collections.general.no_matches_btn' | t }}</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="tt-page__pagination">
		{% if settings.collection_pagination_type == 'classic' %}
			{% include 'collection-pagination-classic' %}
		{% elsif settings.collection_pagination_type == 'load_more' %}
			{% include 'collection-pagination-loadmore' %}
		{% endif %}
	</div>
</div>
{% endpaginate %}
