{%- comment -%}
{%- endcomment -%}
<div class="tt-footer__payment-opt">
	<ul class="tt-payment-opt">
		{% if footer_block.pay_visa %}
			<li><a href="{{ settings.visa }}"><i class="icon-cc-visa"></i></a></li>
		{% endif %}
		{% if footer_block.pay_discover %}
			<li><a href="{{ settings.discover }}"><i class="icon-cc-discover"></i></a></li>
		{% endif %}
		{% if footer_block.pay_mastercard %}
			<li><a href="{{ settings.mastercard }}"><i class="icon-cc-mastercard"></i></a></li>
		{% endif %}
		{% if footer_block.pay_amex %}
			<li><a href="{{ settings.amex }}"><i class="icon-cc-amex"></i></a></li>
		{% endif %}
		{% if footer_block.pay_paypal %}
			<li><a href="{{ settings.paypal }}"><i class="icon-cc-paypal"></i></a></li>
		{% endif %}
		{% if footer_block.pay_stripe %}
			<li><a href="{{ settings.stripe }}"><i class="icon-cc-stripe"></i></a></li>
		{% endif %}
	</ul>
</div>