{%- comment -%}
{%- endcomment -%}
<div class="tt-footer tt-footer__01{{ main_class }}">
  <div class="tt-footer__content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          {{ logo }}
        </div>
        <div class="col-lg-5">
          {{ menu }}
        </div>
        <div class="col-lg-4">
          {{ subscribe }}
          {{ social }}
        </div>
        {% unless tape %}
          <div class="col-lg-12">
           {{ copyright }}
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
  {{ tape }}
  {{ btn_to_top }}
</div>


