{%- comment -%}
{%- endcomment -%}
{%- comment -%}
//tt_menu_custom_values
+ [0] = Name
+ [1] = 1
+ [2] = 2
+ [3] = 3
+ [4] = 200
+ [5] = menu-width
+ [6] = left-window
+ [7] = menu-bottom
[8] = toggle
[9] = fade
[10] = emersion
[11] = 1000
[12] = 300
[13] = <p>Content Left</p>
[14] = <p>Content Rigth</p>
[15] = <p>Content Top</p>
[16] = <p>Content Bottom</p>
[17] = <p>Content Inner Top</p>
[18] = <p>Content Inner Bottom</p>
[19] = 6
[20] = label
[21] = image1
[22] = image2
[23] = image3
[24] = image4
[25] = image5
[26] = image6
[27] = color
[28] = status
[29] = image7
[30] = image8
[31] = image9
[32] = image10
[33] = image11
[34] = image12
{%- endcomment -%}

{%- include 'header-megamenu-metatag-images' -%}

{%- comment -%} ### Content padding ### {%- endcomment -%}
{%- if tt_menu_custom_values[8] == '1' -%}
	{%- assign loc-content-padding = "" -%}
{%- else -%}
	{%- assign loc-content-padding = "TonyM__mm--pdg-only-c" -%}
{%- endif -%}
<div class="TonyM__mm {{ loc-content-padding }}"
	 data-tm-w="{%- include 'header-megamenu-metatag-helper-width' -%}"
	 data-tm-a-h="{{ tt_menu_custom_values[6] }}"
	 data-tm-a-v="{{ tt_menu_custom_values[7] }}">
	{%- if tt_menu_custom_values[15] != '' -%}
		<div class="TonyM__bx-t">
			{{ tt_menu_custom_values[15] }}
		</div>
	{%- endif -%}
	<div class="TonyM__bx-out-c">
		{%- if tt_menu_custom_values[13] != '' -%}
			<div class="TonyM__bx-l TonyM--gr12-c{{ tt_menu_custom_values[1] }}">
				{{ tt_menu_custom_values[13] }}
			</div>
		{%- endif -%}
		<div class="TonyM__bx-c TonyM--gr12-c{{ tt_menu_custom_values[2] }}">
			{%- if tt_menu_custom_values[17] != '' -%}
				<div class="TonyM__bx-in-t TonyM--gr12-c12">
					{{ tt_menu_custom_values[17] }}
				</div>
			{%- endif -%}
			<div class="TonyM__bx-in-c">
				<ul class="TonyM__list TonyM--gr{{ tt_menu_custom_values[19] }}-in">
					{%- for childlink in menus[child_list_handle].links -%}
						{%- assign second_child_list_handle = childlink.title | handleize -%}
						{%- if menus[second_child_list_handle].links != blank -%}
							{%- comment -%} 2 level (second) ######################################################## {%- endcomment -%}
							<li class="TonyM__ttl">
								<a href="{{ childlink.url }}" {% if childlink.active %} class="TonyM__link--active"{% endif %}>
									{%- assign loc-img-index = tt_menu_subcat_images_array[forloop.index0] | plus: 0 -%}
									{%- if tt_menu_custom_values[loc-img-index] != blank -%}
										<span class="TonyM__ttl-img">
                                            {{ childlink.title | escape }}
                                            <span><img src="{{ tt_menu_custom_values[loc-img-index] }}" alt="{{ childlink.title | escape }}"></span>
                                        </span>
									{%- else -%}
										{{ childlink.title | escape }}
									{%- endif -%}
								</a>
								<ul>
									{%- for secondchildlink in menus[second_child_list_handle].links -%}
										{%- assign third_child_list_handle = secondchildlink.title | handleize -%}
										{%- include 'header-megamenu-metatag-default-level3and4' -%}
									{%- endfor -%}
								</ul>
							</li>
						{%- else -%}
							<li class="TonyM__ttl">
								<a href="{{ childlink.url }}" {% if childlink.active %} class="TonyM__link--active"{% endif %}>
									{%- assign loc-img-index = tt_menu_subcat_images_array[forloop.index0] | plus: 0 -%}
									{%- if tt_menu_custom_values[loc-img-index] != blank -%}
										<span class="TonyM__ttl-img">
                                            {{ childlink.title | escape }}
											<span><img src="{{ tt_menu_custom_values[loc-img-index] }}" alt="{{ childlink.title | escape }}"></span>
                                        </span>
									{%- else -%}
										{{ childlink.title | escape }}
									{%- endif -%}
								</a>
							</li>
						{%- endif -%}
					{%- endfor -%}
				</ul>
			</div>
			{%- if tt_menu_custom_values[18] != '' -%}
				<div class="TonyM__bx-in-b TonyM--gr12-c12">
					{{ tt_menu_custom_values[18] }}
				</div>
			{%- endif -%}
		</div>
		{%- if tt_menu_custom_values[14] != '' -%}
			<div class="TonyM__bx-r TonyM--gr12-c{{ tt_menu_custom_values[3] }}">
				{{ tt_menu_custom_values[14] }}
			</div>
		{%- endif -%}
	</div>
	{%- if tt_menu_custom_values[16] != '' -%}
		<div class="TonyM__bx-b">
			{{ tt_menu_custom_values[16] }}
		</div>
	{%- endif -%}
</div>