{%- comment -%}
{%- if template contains 'product'or template == 'cart' or template == 'index' or template =="collection" -%}
<div class="tt-header__tape row">
  {%- if section.blocks[0].settings.top-line-text != blank -%}
    <div class="col-lg-4 tt-header__tape-text text-center">
      {%- if section.blocks[0].settings.top-line-icon != blank -%}<i class="{{ section.blocks[0].settings.top-line-icon }}"></i>{%- endif -%}
      {{ section.blocks[0].settings.top-line-text }}
    </div>
  {%- endif -%}
  {%- if section.blocks[0].settings.top-line-text-phone != blank -%}
    <div class="col-lg-4 tt-header__tape-text text-center">
      {%- if section.blocks[0].settings.top-line-icon-phone != blank -%}<i class="{{ section.blocks[0].settings.top-line-icon-phone }}"></i>{%- endif -%}
      {{ section.blocks[0].settings.top-line-text-phone }}
    </div>
  {%- endif -%}
  {%- if section.blocks[0].settings.top-line-text-hours != blank -%}
    <div class="col-lg-4 tt-header__tape-text text-center">
      {%- if section.blocks[0].settings.top-line-icon-hours != blank -%}<i class="{{ section.blocks[0].settings.top-line-icon-hours }}"></i>{%- endif -%}
       {{ section.blocks[0].settings.top-line-text-hours }}
    </div>
  {%- endif -%}
	</div>
{%- endif -%}
{%- endcomment -%}

