{%- comment -%}
{%- endcomment -%}
<div>
	<a href="/cart" class="tt-header__btn tt-header__btn-cart">
		<i class="">{{ 'cart.product.cart' | t }}</i>
		<span id="tt-cart-count"{% if cart.item_count < 1 %} class="ttg-hidden"{% endif %}>{{ cart.item_count }}</span>
	</a>
	<div class="tt-header__cart" data-t-notes="{{ 'cart.product.notes' | t }}">
		<div class="tt-header__cart-content">
			<ul class="colorize-bd">
				{% if cart.item_count > 0 %}
					{% for cart-item in cart.items %}
						{% if forloop.index > 3 %}
							{% break %}
						{% endif %}
						{% include "header-cart-item" %}
					{% endfor %}
				{% endif %}

				<li class="prdbut__product tt-header__cart-example">
					<div>
						<a href="#">
							<img src="#" class="colorize-theme2-bd colorize-theme-bd-h" alt="image">
						</a>
					</div>
					<div>
						<p>
							<a href="#" class="colorize-head-c colorize-theme-c-h"></a>
						</p>
						<span class="tt-header__cart-price">
							<span class="tt-header__cart-price-count"></span>
							<span>x</span>
							<span class="tt-header__cart-price-val tt-price"></span>
						</span>
						<div class="tt-counter" data-min="1">
							<form action="#">
								<input type="text" class="form-control prdbut__cart-count">
							</form>
                           {% comment %}
							<div class="tt-counter__control">
								<span class="icon-up-circle" data-direction="next"></span>
								<span class="icon-down-circle" data-direction="prev"></span>
							</div>
                            {% endcomment %}
						</div>
					</div>
					<div>
						<a href="#" class="tt-header__cart-delete prdbut__cart-del" title="{{ 'cart.general.remove' | t }}"><i class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</li>

				<li class="tt-header__cart-more{% if cart.items.size <= 3 %} ttg-hidden{% endif %}"><a href="/cart">{{ 'cart.general.popup_all' | t: count: cart.item_count }}</a></li>

				<li class="tt-header__cart-empty{% if cart.item_count > 0 %} ttg-hidden{% endif %}">{{ 'cart.general.empty' | t }}</li>
			</ul>
			<div class="tt-header__cart-footer{% if cart.item_count == 0 %} ttg-hidden{% endif %}">
				<span class="tt-header__cart-subtotal colorize-head-c">{{ 'cart.general.popup_subtotal' | t }}
					<span class="colorize-theme-c">{{ cart.total_price | money }}</span>
				</span>
				<div class="row">
					<div class="col-lg-6">
						<a href="/cart" class="tt-header__cart-viewcart btn">{{ 'cart.general.popup_view' | t }}</a>
					</div>
					<div class="col-lg-6">
						<a href="/checkout" class="tt-header__cart-checkout btn colorize-btn2">{{ 'cart.general.checkout' | t }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>