{%- comment -%}
{%- endcomment -%}
{%- comment -%} 3 level (third) ######################################################## {%- endcomment -%}

{%- if secondchildlink.title == '###newcol###' -%}
  </ul>
</li>
<li>
  <div class="tonyMenu__head-title"></div>
  <ul class="tonyMenu__inner-list-items">
{%- continue -%}
{%- endif -%}

{%- if menus[third_child_list_handle].links != blank -%}
    <li class="{%- if tt_menu_template == 'custom' -%}TonyM__dd{%- endif -%}">
        <a href="{{ secondchildlink.url }}" {% if childlink.active %} class="TonyM__link--active"{% endif %}>{{ secondchildlink.title | escape }}</a>
        <ul>
            {%- for thirdchildlink in menus[third_child_list_handle].links -%}
                {%- comment -%} 4 level (fourth) ######################################################## {%- endcomment -%}
                <li>
                    <a href="{{ thirdchildlink.url }}"{% if thirdchildlink.active %} class="TonyM__link--active"{% endif %}>{{ thirdchildlink.title | escape }}</a>
                </li>
            {%- endfor -%}
        </ul>
    </li>
{%- else -%}
    <li>
        <a href="{{ secondchildlink.url }}" {% if secondchildlink.active %} class="TonyM__link--active"{% endif %}>{{ secondchildlink.title | escape }}</a>
    </li>
{%- endif -%}