{%- comment -%}
{%- endcomment -%}
{%- capture res-logo_styles -%}style="width: {{ section.settings.logo_max_width }}px;"{%- endcapture -%}

<div class="tt-header__logo">
  {%- if template.name == 'index' -%}
    <h1 class="tt-logo {% if section.settings.logo_animate %}tt-logo__curtain{% endif %}" itemscope itemtype="http://schema.org/Organization">
  {%- else -%}
    <div class="h1 tt-logo {% if section.settings.logo_animate %}tt-logo__curtain{% endif %}" itemscope itemtype="http://schema.org/Organization">
  {%- endif -%}
      <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
        {%- if section.settings.logo != blank -%}
          {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
          <img src="{{ section.settings.logo | img_url: image_size }}"
               srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
               alt="{{ section.settings.logo.alt | default: shop.name }}"
               itemprop="logo"
               {{ res-logo_styles }}>
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
  {%- if template.name == 'index' -%}
    </h1>
  {%- else -%}
    </div>
  {%- endif -%}
  {%- if section.blocks.size > 0 -%}
  {%- endif -%}
</div>