{%- comment -%}
{%- endcomment -%}
{%- comment -%} ### "set-" variables can be overwritten ### {%- endcomment -%}
{%- assign res-boxsize = set-boxsize | default: '' -%}
{%- assign res-image_size = set-image_size | default: '640x' -%}

{%- assign this-settings = this-item.settings -%}

{%- assign res-styles_title = null -%}
{%- assign res-styles_hover_title = null -%}
{%- assign res-styles_hover_info = null -%}
{%- assign res-styles_hover_quantity = null -%}
{%- assign res-styles_hover_bg = null -%}

{%- if this-settings.color_title_c != blank and this-settings.color_title_c != 'rgba(0,0,0,0)' -%}
    {% capture res-styles_title %} style="color: {{ this-settings.color_title_c }};"{% endcapture %}
{%- endif -%}
{%- if this-settings.color_title_h_c != blank and this-settings.color_title_h_c != 'rgba(0,0,0,0)' -%}
    {% capture res-styles_hover_title %} style="color: {{ this-settings.color_title_h_c }};"{% endcapture %}
{%- endif -%}
{%- if this-settings.color_info_h_c != blank and this-settings.color_info_h_c != 'rgba(0,0,0,0)' -%}
    {% capture res-styles_hover_info %} style="color: {{ this-settings.color_info_h_c }};"{% endcapture %}
{%- endif -%}
{%- if this-settings.color_quantity_h_c != blank and this-settings.color_quantity_h_c != 'rgba(0,0,0,0)' -%}
    {% capture res-styles_hover_quantity %} style="color: {{ this-settings.color_quantity_h_c }};"{% endcapture %}
{%- endif -%}
{%- if this-settings.color_h_bg != blank and this-settings.color_h_bg != 'rgba(0,0,0,0)' -%}
    {% capture res-styles_hover_bg %} style="background-color: {{ this-settings.color_h_bg }};"{% endcapture %}
{%- endif -%}


{%- assign res-url = this-settings.url | default: '#' -%}
{%- assign res-image = this-settings.image -%}
{%- assign res-text1 = this-settings.text1 -%}


{%- comment -%} ### res-text2 ### {%- endcomment -%}
{%- if this-settings.text2 != blank -%}
	{%- capture res-text2 -%}
	<span{{ res-styles_hover_info }}><span{{ res-styles_hover_quantity }}>{{ this-settings.text2 }}</span> {{ this-settings.text2-p2 }}</span>
	{%- endcapture -%}
{%- else -%}
	{%- capture res-text2 -%}
	<span{{ res-styles_hover_info }}>{{ this-settings.text2-p2 }}</span>
	{%- endcapture -%}
{%- endif -%}


{%- comment -%} ### res-image-translate ### {%- endcomment -%}
{%- if this-settings.image-hover-animation != blank -%}
	{%- if this-settings.image-hover-animation == 'scale' -%}
		{%- assign res-image-translate = 'ttg-image-scale' -%}
	{%- else -%}
		{%- assign res-image-translate = 'ttg-image-translate--' | append: this-settings.image-hover-animation -%}
	{%- endif -%}
{%- else -%}
	{%- assign res-image-translate = '' -%}
{%- endif -%}


{%- comment -%} ### res-text1-position ### {%- endcomment -%}
{%- case this-settings.text1-position -%}
  {%- when 'top left' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg-lg--top tt-promobox__point-lg-lg--left' -%}
  {%- when 'top h-center' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--top tt-promobox__point-lg--center-horizontal' -%}
  {%- when 'top right' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--top tt-promobox__point-lg--right' -%}
  {%- when 'v-center left' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--center-vertical tt-promobox__point-lg--left' -%}
  {%- when 'v-center h-center' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--center' -%}
  {%- when 'v-center right' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--center-vertical tt-promobox__point-lg--right' -%}
  {%- when 'bottom left' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--left' -%}
  {%- when 'bottom h-center' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--center-horizontal' -%}
  {%- when 'bottom right' -%}
    {%- assign res-text1-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--right' -%}
{%- endcase -%}


{%- comment -%} ### res-text2-position ### {%- endcomment -%}
{%- case this-settings.text2-position -%}
  {%- when 'top left' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg-lg--top tt-promobox__point-lg-lg--left' -%}
  {%- when 'top h-center' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--top tt-promobox__point-lg--center-horizontal' -%}
  {%- when 'top right' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--top tt-promobox__point-lg--right' -%}
  {%- when 'v-center left' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--center-vertical tt-promobox__point-lg--left' -%}
  {%- when 'v-center h-center' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--center' -%}
  {%- when 'v-center right' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--center-vertical tt-promobox__point-lg--right' -%}
  {%- when 'bottom left' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--left' -%}
  {%- when 'bottom h-center' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--center-horizontal' -%}
  {%- when 'bottom right' -%}
    {%- assign res-text2-position = 'tt-promobox__point-lg--bottom tt-promobox__point-lg--right' -%}
{%- endcase -%}