{%- comment -%}
{%- endcomment -%}
{%- assign this-item = home-banner-item -%}

{%- include 'home-banner-item-vars' -%}

<a href="{{ res-url }}" class="tt-promobox
					{{ res-boxsize }}
                   ttg-text-animation-parent
                   {{ res-image-translate }}
                   ttg-animation-disable--sm
                   tt-promobox__hover-disable--sm">
	<div class="tt-promobox__content">
		<img src="{{ res-image | img_url: res-image_size }}"
			 srcset="{{ res-image | img_url: res-image_size }} 1x, {{ res-image | img_url: res-image_size, scale: 2 }} 2x"
			 alt="{{ res-text1 }}">
		<div class="tt-promobox__text
                    {{ res-text1-position }}
                    {{ res-text-style }}
                    tt-promobox__responsive--md">
			<div{{ res-styles_title }}>{{ res-text1 }}</div>
		</div>
		<div class="tt-promobox__hover">
			<div class="tt-promobox__hover-bg"{{ res-styles_hover_bg }}></div>
			<div class="tt-promobox__text
				{{ res-text2-position }}">
				<div class="ttg-text-animation--emersion">
					<div{{ res-styles_title }}>{{ res-text1 }}</div>
				</div>
				<p class="ttg-text-animation--emersion">
					{{ res-text2 }}
				</p>
			</div>
		</div>
	</div>
</a>