{%- comment -%}
{%- endcomment -%}
<!doctype html>
<html lang="{{ shop.locale }}" id="theme" class="colorize-classes">
<head>{{ loc-content_for_head }}</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} prdbut" {%- include 'body-get-params' -%}>
{% if settings.layout_preloader %}
    <div class="tt-preloader"></div>
{% endif %}
{%- if loc-content_for_header -%}
    <header>
        {{ loc-content_for_header }}
    </header>
{%- endif -%}
<main>
    <div class="tt-layout tt-sticky-block__parent{{ res-layout_class }}">

        {{ res-sidebar }}

        {%- if loc-content_for_layout -%}
            <div class="tt-layout__content">
                <div class="container">
                    {{ loc-content_for_layout }}
                </div>
            </div>
        {%- endif -%}
    </div>
</main>

{%- if loc-content_for_footer -%}
    <footer>
        {{ loc-content_for_footer }}
    </footer>
{%- endif -%}

{%- if settings.newsletter_show_popup -%}
    {%- include 'newsletter-popup' -%}
{%- endif -%}

{%- include 'footer-js' -%}
<script type="text/javascript">
    adroll_adv_id = "JTGNNTUH2FA25LLLXQNF5M";
    adroll_pix_id = "5HIAUY6NEBFH7LYHL4RMVC";

    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
</body>
</html>
