
<div class="tt-newsletter-popup" data-active="{{ settings.newsletter_show_popup }}" data-show-once="{{ settings.newsletter_show_once }}" data-delay="{{ settings.newsletter_delay }}" data-cookies-life="{{ settings.newsletter_cookies_life }}">
	{%- if settings.newsletter_popup_promo_text -%}
		{{ settings.newsletter_popup_promo_text }}
	{%- endif -%}
	<div class="ttg-mb--30">
		{% assign set-style = settings.color_popup_news_newsletter_type %}
		{% include 'subscribe' %}
	</div>
	{%- if settings.newsletter-show_socials -%}
		<div class="tt-newsletter-popup__social">
			{% assign set-show_facebook = settings.newsletter-show_facebook %}
			{% assign set-show_google = settings.newsletter-show_google %}
			{% assign set-show_twitter = settings.newsletter-show_twitter %}
			{% assign set-show_instagram = settings.newsletter-show_instagram %}
			{% assign set-show_youtube = settings.newsletter-show_youtube %}
			{% assign set-show_pinterest = settings.newsletter-show_pinterest %}
			{% assign set-show_skype = settings.newsletter-show_skype %}
			{% assign set-show_behance = settings.newsletter-show_behance %}
			{% assign set-settings = true %}
			{% assign set-style = settings.color_popup_news_social_type %}
			{%- comment -%}{% include 'social-links' %}{%- endcomment -%}
		</div>
	{%- endif -%}

	{% unless settings.newsletter_show_once == 'true' %}
		<label class="tt-newsletter-popup__show_popup tt-checkbox">
			<input type="checkbox" name="show-newsletter">
			<span></span>
			{{ 'general.subscribe.popup_show_again' | t }}
		</label>
	{% endunless %}
</div>