{%- comment -%}
{%- endcomment -%}
{% comment %} ### SKU, Stock ### {% endcomment %}
{% if loc-show_sku or loc-show_availability %}
    <div class="tt-product-head__info-head">
        {% if loc-show_sku %}
            <div class="tt-product-head__index">{{ 'products.product.sku' | t }} <span data-prdbut-replace="sku">{{ loc-sku }}</span></div>
        {% endif %}
        {% if loc-show_availability %}
            <div class="tt-product-head__availability">{{ 'products.product.availability' | t }}
                {% if loc-available %}
                    <span class="colorize-success-c" data-prdbut-replace="availability">{{ 'products.product.instock' | t }}</span>
                {% else %}
                    <span class="colorize-error-c" data-prdbut-replace="availability">{{ 'products.product.outofstock' | t }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}


{% comment %} ### Collections ### {% endcomment %}
{% if loc-show_collections %}
    <div class="tt-product-head__category">
        {% for collection in product.collections %}
            <a href="{{ collection.url }}">{{ collection.title }}</a>
        {% endfor %}
    </div>
{% endif %}


{% comment %} ### Name ### {% endcomment %}
{% if loc-show_name %}
    <div class="tt-product-head__name"><h1>{{ loc-title }}</h1></div>
{% endif %}


{% comment %} ### Review Badge ### {% endcomment %}
{% if loc-show_review_badge %}
    <div class="tt-product-head__review">
        <span class="shopify-product-reviews-badge" data-id="{{ loc-prd-id }}"></span>
        {% if loc-show_review_tab %}
            <div class="tt-product-head__review-add"><a href="#">{{ 'products.product.add_review' | t }}</a></div>
        {% endif %}
    </div>
{% endif %}

{% comment %} ### Vendor, type, barcode ### {% endcomment %}
{% if loc-show_vendor or loc-show_type or loc-show_barcode  %}
	<div class="tt-product-head__info-head">
		{% if loc-show_vendor %}
			<div class="tt-product-head__index"><span>{{ loc-vendor }}</span></div>
		{% endif %}
      	{% if loc-show_type %}
			<div class="tt-product-head__index"><span>{{ loc-type }}</span></div>
		{% endif %}
		{% if loc-show_barcode %}
			<div class="tt-product-head__index">{{ 'products.product.barcode' | t }} <span data-prdbut-replace="barcode">{{ loc-barcode }}</span></div>
		{% endif %}
	</div>
{% endif %}


{% comment %} ### Price ### {% endcomment %}
{% if loc-show_price %}
    <div class="tt-product-head__price">
        <span class="tt-price-2{{ res-price_sale_class }}" data-prdbut-replace="price">{{ res-price }}</span>
    </div>
{% endif %}


{% comment %} ### Sale countdown ### {% endcomment %}
{% if loc-show_lbl_sale_percent_countdown %}
    <div class="tt-product-head__sale{% if res-sale_percent == blank or loc-available != true %} prdbut__visible--disabled{% endif %}" data-prdbut-visible="sale_countdown">
        <div class="tt-product-head__sale-info">
            <div data-prdbut-replace="sale_percent">{{ 'products.product.countdown_percent' | t : percent : res-sale_percent }}</div>
            <p>{{ 'products.product.countdown_items_left' | t : items_count : loc-inventory_quantity }}</p>
        </div>
        {% if res-sale_percent and loc-available and loc-ato.countdown and loc-ato.countdown != 'empty' %}
            <div class="tt-product-head__sale-countdown">
                <div class="tt-product-head__countdown tt-countdown" data-prdbut-replace="countdown" data-date="{{ loc-ato.countdown }}"></div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% comment %} ### Afterpay ### {% endcomment %}
{% if loc-show_afterpay  %}
	<div class="tt-product-head__info-head">
		{% if loc-show_afterpay %}
			<div class="tt-product-head__index">{% include 'afterpay' %}</div>
		{% endif %}
	</div>
{% endif %}

<form action="/cart/add.js" method="post">
    {% comment %} ### Options ### {% endcomment %}
    {% if loc-has_options and loc-show_options %}
        <div class="tt-product-head__options">
            {% include 'product-get-options' %}
        </div>
    {% endif %}

    {% comment %} ### Custom field ### {% endcomment %}
  
    {% if product.handle contains "monogrammed" %}
    {% if loc-show_notes %}
        <div class="tt-product-head__notes{% if loc-available != true %} prdbut__visible--disabled{% endif %}" data-prdbut-visible="available">
            <label>
                <span>{{ 'products.product.notes' | t }}</span>
                <input type="text" name="notes" class="prdbut__cart-notes form-control">
            </label>
        </div>
    {% endif %}
    {% endif %}

    {% comment %} ### Buttons ### {% endcomment %}
    {% if loc-show_buttons %}
        <div class="tt-product-head__control">
            {% if loc-show_quantity %}
                <div class="tt-product-head__counter tt-counter tt-counter__inner{% if loc-available != true %} prdbut__visible--disabled{% endif %}" data-min="1" data-prdbut-visible="available">
                    {% assign res-quantity = loc-inventory_quantity %}
                    {% if loc-prd-selected.inventory_management != 'shopify' or loc-prd-selected.inventory_policy == 'continue' %}
                        {% assign res-quantity = 'infinite' %}
                    {% endif %}
                    <div class="tt-counter__settings" data-max="{{ res-quantity }}" data-prdbut-replace="counter"></div>
                    <input type="text" class="form-control prdbut__cart-count" value="1">
                    <div class="tt-counter__control">
                        <span class="fa fa-plus" data-direction="next"></span>
                        <span class="fa fa-minus" data-direction="prev"></span>
                    </div>
                </div>
            {% endif %}
            {% if loc-show_cart_btn %}
                <a href="{{ loc-url }}" target="_blank" class="tt-product-head__cart tt-btn tt-btn--cart colorize-btn6{{ res-btn_card_action }} prdbut__btn--process{% if loc-available != true %} prdbut__visible--disabled{% endif %}" data-prdbut-visible="available">
                    <div class=""><span>{{ 'products.product.add_to_cart' | t }}</span></div>
                    <span class="tt-product-head__cart-disabled">{{ 'products.product.add_to_cart_disabled' | t }}</span>
                </a>
            {% endif %}
            {% if settings.wishlist-status and loc-show_wishlist_btn %}
                <a href="{% if customer %}#{% else %}/account/login{% endif %}"{% unless customer %} target="_blank"{% endunless %} class="tt-btn colorize-btn4 tt-product__buttons_like{% if customer %} prdbut__wsl-toggle prdbut__btn--process{{ res-whishlist_active }}{% endif %}{% if loc-available != true %} prdbut__visible--disabled{% endif %}" data-prdbut-visible="available">
                    <i class="icon-heart-empty-2"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
</form>

{% comment %} ###  description {% endcomment %}
{% if loc-show_description %}
    <div class="tt-product-head__more-detailed rte">
        {{ loc-description }}
    </div>
{% endif %}

	{% if loc-show_custom_text_tab %}
		<div class="tt-product-head__tags">
			<span class="tt-product-head__tags">{{ 'products.product.wearing' | t }}</span>
				<div class="tt-tabs__content">
					{{ product.metafields.wearing.notes }}
				</div>
		</div>
	{% endif %}

{% comment %} ### Tags ### {% endcomment %}
{% if loc-show_tags %}
    <div class="tt-product-head__tags"><span>{{ 'products.product.tags' | t }}</span>
        {% for tag in loc-tags %}
            <a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>{% unless forloop.last == true %}, {% endunless %}
        {% endfor %}
    </div>
{% endif %}


{% comment %} ### AddThis ### {% endcomment %}
{% if loc-show_share_buttons %}
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"{% if article.url %} addthis:url="{{ shop.url }}{{ article.url }}" addthis:title="{{ article.title }}"{% endif %}>
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
{% endif %}


{% comment %} ### more info ### {% endcomment %}
{% if loc-show_viewfull %}
    <a target="_blank" href="{{ loc-url }}">{{ "products.product.gotoproduct" | t }}</a>
{% endif %}


{% comment %} ### Tabs for Variant #2 ### {% endcomment %}
{% if loc-show_tabs and set-layout == 'layout2' %}
    {% include 'product-get-tabs' %}
{% endif %}