{%- comment -%}
{%- endcomment -%}
{% assign set-style = set-style | default: 1 %}
<form action="{{ settings.mailchimp_form_action }}" method="post" class="tt-newsletter tt-newsletter--style-0{{ set-style }}{% if set-view_mobile %} tt-newsletter__design-mobile{% endif %}">
	<input type="email" name="EMAIL" class="form-control" placeholder="{{ 'general.subscribe.placeholder' | t }}" required="required">
	<button type="submit" class="btn">
		<i class="tt-newsletter__text-wait"></i>
		<span class="tt-newsletter__text-default">{{ 'general.subscribe.button_default' | t }}</span>
		<span class="tt-newsletter__text-error"><i class="icon-exclamation"></i>{{ 'general.subscribe.button_error' | t }}</span>
	</button>
</form>

{% assign set-view_mobile = null %}
{% assign set-style = null %}