{%- comment -%}
{%- endcomment -%}
{% if settings.layout-show_breadcrumbs %}
  <div class="tt-page__breadcrumbs">
    {% include 'breadcrumbs' %}
  </div>
{% endif %}

<div class="tt-page__name text-center">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
</div>

{% form 'reset_customer_password' %}
<div class="form-reset-password">
  <div class="tt-login">
    <div class="tt-login__title">
      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </div>
    <div class="tt-form">
      {% include 'form-get-message' %}
      <div class="tt-form__form">
        <label>
          <div class="row">
            <div class="col-md-3"><span class="ttg__required">{{ 'customer.reset_password.password' | t }}:</span></div>
            <div class="col-md-9">
              <input type="password"
                     name="customer[password]"
                     id="ResetPassword"
                     class="form-control colorize-theme6-bg{% if form.errors contains 'password' %} input-error{% endif %}"
                     placeholder="{{ 'customer.reset_password.password_placeholder' | t }}"
                     required="required">
            </div>
          </div>
        </label>
        <label>
          <div class="row">
            <div class="col-md-3"><span class="ttg__required">{{ 'customer.reset_password.password_confirm' | t }}:</span></div>
            <div class="col-md-9">
              <input type="password"
                     name="customer[password_confirmation]"
                     id="PasswordConfirmation"
                     class="form-control colorize-theme6-bg{% if form.errors contains 'password_confirmation' %} input-error{% endif %}"
                     placeholder="{{ 'customer.reset_password.password_confirm_placeholder' | t }}"
                     required="required">
            </div>
          </div>
        </label>
        <div class="row ttg-mt--40">
          <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn">{{ 'customer.reset_password.submit' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endform %}
