<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
 
  {% capture seo_title %}
    {% if template contains 'search' %}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {% else %}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {% endif %}
  {% endcapture %}

  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'social_meta' %}
  {% render 'microdata_schema' %}
		
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preload" as="style" href="{{ 'css_main.scss.css' | asset_url }}">
  <link rel="preconnect" href="//fonts.shopifycdn.com">

  {{ 'css_main.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
  {% include 'tipo.booking.script' %}
  
  {{ '//code.jquery.com/jquery-3.4.1.min.js' | script_tag }}

  {% if template == 'customers/addresses' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {% endif %}

  <noscript>
    {{ 'css_noscript.scss.css' | asset_url | stylesheet_tag }}
  </noscript>
  

<script async='async' src='https://variantimages.upsell-apps.com/script.js?shop=aesque.myshopify.com'></script><!-- GSSTART Show variants. Do not change -->
{% if request.path contains "/products/" %}{% else %}<script  type="text/javascript"> 
  gsVSCollectionId = {% if collection.id > 1 %} "{{ collection.id }}" {% else %} "0" {% endif %}; gsVSCollectionTags = '{{ current_tags | join: '&' | replace: "'", "\'" }}';  gsCollectionProdCnt = {% if collection.id > 1 %} {{ collection.products_count }} {% else %} 0 {% endif %}  ;			
  gsCollection = {
    {% if collection.products %}      {% paginate collection.products by 50 %}        {% for product in collection.products %} {% assign imagescount = product.images | size %}            {% if imagescount > 1 %}             '{{ product.handle }}' : [ 
                {% for image in product.images  limit:2 %} "{{ image | img_url: '256x' }}", {% endfor %}
                ],
            {% endif %}        {% endfor %}      {% endpaginate %}    {% endif %}  };
</script>  

{% if request.path contains "/products/" %}{% else %}{% if collection.products %}<script type="text/javascript" src="https://gravity-apps.com/variantmanager/js/shopify/image_swap4092.js?v=036093732331aeca55728d6b2013117a"></script>{% endif %}{% endif %}{% endif %}
<!-- Show variants code end. Do not change GSEND --></head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }}">

  {% section 'header' %}

  <main class="wrapper main-content" id="main" role="main">

    {{ content_for_layout }}
  
    {% section 'footer' %}

  </main>

  <div id="site-overlay" class="site-overlay"></div>

  {{ 'js_plugins.min.js' | asset_url | script_tag }}

  {% capture jQuery_arrow_down %} {% render "asset_svg", icon_name: "arrow_icon" %} {% endcapture %}
  {% capture jQuery_arrow_right %} {% render "asset_svg", icon_name: "arrow_icon_smallest" %} {% endcapture %}
  {% capture jQuery_icon_heart %} {% render "asset_svg", icon_name: "heart_icon" %} {% endcapture %}
  {% capture jQuery_icon_twitter %} {% render "asset_svg", icon_name: "twitter_icon" %} {% endcapture %}
  {% capture jQuery_icon_instagram %} {% render "asset_svg", icon_name: "social_instagram" %} {% endcapture %}
  {% capture jQuery_icon_zoom %} {% render "asset_svg", icon_name: "zoom_out_icon" %} {% endcapture %}

  <script type="text/javascript">
    jQuery.themeAssets = {
      arrowDown: '{{ jQuery_arrow_down | lstrip | rstrip }}',
      arrowRight: '{{ jQuery_arrow_right | lstrip | rstrip }}',
      iconHeart: '{{ jQuery_icon_heart | lstrip | rstrip }}',
      iconTwitter: '{{ jQuery_icon_twitter | lstrip | rstrip }}',
      iconInstagram: '{{ jQuery_icon_instagram | lstrip | rstrip }}',
      iconZoom: '{{ jQuery_icon_zoom | lstrip | rstrip }}'
    };
    jQuery.themeCartSettings = '{{ settings.cart_action }}';
  </script>

  <script type="text/javascript">

    window.shop_money_format = "{{ shop.money_format }}";

    window.product_words_add_to_cart_button = "{{ 'product.add_to_cart' | t }}";
    window.product_words_sold_out_variant = "{{ 'product.inventory.sold_out_variant' | t }}";
    window.product_words_unavailable_variant = "{{ 'product.inventory.unavailable_variant' | t }}";
    window.product_words_one_product = "{{ 'product.inventory.one_product' | t }}";
    window.product_words_few_products = "{{ 'product.inventory.few_products' | t }}";
    window.product_words_no_products = "{{ 'product.inventory.no_products' | t }}";
    window.product_words_preorder = "{{ 'product.inventory.preoder' | t }}";
    window.product_words_vendor = "{{ 'product.vendor_html' | t }}";

    window.show_preloader = "{{ settings.show_preloader }}";

    window.search_url = "{{ routes.search_url }}";
    window.predictive_search_enabled = "{{ settings.predictive_search_enabled }}";
    window.predictive_search_show_vendor = "{{ settings.predictive_search_show_vendor }}";
    window.predictive_search_show_price = "{{ settings.predictive_search_show_price }}";
    window.predictive_search_limit = "{{ settings.predictive_search_limit }}";
    window.predictive_search_include_articles = "{{ settings.predictive_search_include_articles }}";
    window.predictive_search_include_pages = "{{ settings.predictive_search_include_pages }}";
    window.search_words_collection_results_title = "{{ 'general.search.collection_results_title' | t }}";
    window.search_words_page_results_title = "{{ 'general.search.page_results_title' | t }}";
    window.search_words_article_results_title = "{{ 'general.search.article_results_title' | t }}";
    window.search_words_search_for_html = '{{ 'general.search.search_for_html' | t }}';
    window.search_placeholder_image = '{{ 'product-1' | placeholder_svg_tag }}';

    {% if settings.predictive_search_enabled %} 
      window.month_names = ["{{ 'general.date_format.month_names.January' | t }}", "{{ 'general.date_format.month_names.February' | t }}", "{{ 'general.date_format.month_names.March' | t }}", "{{ 'general.date_format.month_names.April' | t }}", "{{ 'general.date_format.month_names.May' | t }}", "{{ 'general.date_format.month_names.June' | t }}", "{{ 'general.date_format.month_names.July' | t }}", "{{ 'general.date_format.month_names.August' | t }}", "{{ 'general.date_format.month_names.September' | t }}", "{{ 'general.date_format.month_names.October' | t }}", "{{ 'general.date_format.month_names.November' | t }}", "{{ 'general.date_format.month_names.December' | t }}"];
    {% endif %}

    if ( ! jQuery.parseJSON($('#shopify-features').text()).predictiveSearch ) {
      window.predictive_search_enabled = "false";
    }

  </script>

  {{ 'js_main.min.js' | asset_url | script_tag }}  

  {% section 'popup' %}
  
  {% if settings.thumb_resize == 'fit' %}
    <style type="text/css">
      .box__collection .box--product-image {
        width: 84%;
        height: 84%;
        margin: 8%;
      }
      .box__collection .box--product-image img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: contain !important;
        font-family: "object-fit: contain" !important;
      }
    </style>
  {% endif %}
  {% include 'product_breadcrumb' %}

<!-- GSSTART Show variants BODY. Do not change -->{% if collection.products %}
<div style="display: none !important;">
  {% paginate collection.products by 50 %}{% for product in collection.products %}{% assign imagescount = product.images | size %}{% if imagescount > 1 %}
  <div style="display: none !important;" class="gsProductVariants" gsProductHandler="{{ product.handle }}" >{% assign variantImgsUsedStr = "" %} {% assign variantBySizeUsedStr = "" %}{% assign sizeoptionnr = 0 %}
{% for option in product.options %}{% capture optioncaseins %}{{option | downcase}}{% endcapture %}{% if optioncaseins contains "size" or optioncaseins contains "rösse" or optioncaseins contains "größe" or optioncaseins contains "talla" or optioncaseins contains "גודל" or optioncaseins contains "taille" or optioncaseins contains "tamanho" or optioncaseins contains "rrelse" or optioncaseins contains "siza" %}{% assign sizeoptionnr = forloop.index %}{% if product.options.size == 1 %}{% endif %}{% if optioncaseins contains "color" or optioncaseins contains "colour" or optioncaseins contains "farge"  %}{% assign sizeoptionnr = 0 %}{% endif %}{% endif %}{% endfor %}
    {% for variant in product.variants %}{% assign featuredImageSize = variant.featured_image | size %}{% if featuredImageSize > 0  and variant.available  %}{% if variantImgsUsedStr contains "IGNOREGS" %}{% else %}{% assign variantImgsUsedStr = variantImgsUsedStr | append: variant.featured_image %}{% assign canAddVariant = true %}{% if sizeoptionnr == 1 %}{% assign optionCheckVal = ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}{% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% endif %}{% endif %}
    {% if sizeoptionnr == 2 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% endif %}{% endif %} {% if sizeoptionnr == 3 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% endif %}{% endif %} {% if canAddVariant == true %}
    <p vavailable="{{ variant.available }}" variantpriceid="{{ variant.id }}" originalprice='{{ product.price | money_without_trailing_zeros }}' minprice='{{ product.price_min | money_without_trailing_zeros }}' comparePrice='{{ variant.compare_at_price | money_without_trailing_zeros }}' variantPrice='{{ variant.price | money_without_trailing_zeros }}'></p>
    <p varianttitleid="{{ variant.id }}" sizeoptionnr="{{ sizeoptionnr }}" optionuidtwo="{{ product.id }}{{ variant.option2 | escape }}" optiontwo="{{ variant.option2 | escape }}" originaltitle="{{ product.title | escape }}" variantTitle="{{ variant.title | escape }}" optionuid="{{ product.id }}{{ variant.option1 | escape }}"></p>
       <span variantid="{{ variant.id }}" gsvariantimage="{{ variant.featured_image | img_url: '256x' }}"></span>
    {% endif %}{% endif %}{% endif %}{% endfor %}
  </div>{% endif %}{% endfor %}{% endpaginate %}{% endif %}
  {% if collection.products %}
        <div style="display: none !important;" class="gsProductImages" >
        {% paginate collection.products by 50 %}{% for product in collection.products %} {% assign imagescount = product.images | size %}{% if imagescount > 1 %}{% for image in product.images  limit:1 %}
                                        <span gsProductHandle="{{ product.handle }}" firstImage="{{ image | img_url: '256x' }}"></span>
                                {% endfor %}{% endif %}{% endfor %}{% endpaginate %}
  </div>
  </div>
    {% endif %} <!-- Show variants code end BODY. Do not change GSEND --></body>
</html>