{%- comment -%}
{%- endcomment -%}
{% assign res-title-custom = false %}

{% for block in section.blocks %}
    {% if block.type == 'head' %}
        {% assign res-links = null %}
        {% assign res-title = null %}
        {% assign this-settings = block.settings %}
        {% if this-settings.for_collection == collection.handle %}
			{% assign res-title-custom = true %}
			{%- if this-settings.text_color != blank -%}
				{% capture res-text-color %}
					style="color: {{ this-settings.text_color }};"
				{% endcapture %}
			{% else %}
				{% assign res-text-color = '' %}
			{%- endif -%}

			{% capture res-title %}
                {% if this-settings.title_type == 'banner' and collection.description != blank %}
                    <a href="{{ collection.url }}" class="tt-listing-page__promobox
                                {% case this-settings.banner_animate %}
                                    {%- when 'scale' -%}
                                        ttg-image-scale
                                    {%- when 'top' -%}
                                        ttg-image-translate--top
                                    {%- when 'bottom' -%}
                                        ttg-image-translate--bottom
                                    {%- when 'left' -%}
                                        ttg-image-translate--left
                                    {%- when 'right' -%}
                                        ttg-image-translate--right
                                {%- endcase -%}
                            ">
                        <img src="{{ collection.image | img_url: '1920x' }}"
							 srcset="{{ collection.image | img_url: '1920x' }} 1x, {{ collection.image | img_url: '3840x', scale: 2 }} 2x"
							 alt="{{ collection.title }}">
                        <div class="tt-listing-page__promobox-text">
                            <h1 {{ res-text-color }}>{{ collection.title }}</h1>
                            <p {{ res-text-color }}>{{ collection.description }}</p>
                        </div>
                    </a>
                {% elsif this-settings.title_type == 'custom' %}
                    <div class="rte">
                        {{ collection.description }}
                    </div>
                {% elsif this-settings.title_type == 'name' %}
                    <div class="tt-listing-page__category-name"><h1>{{ collection.title }}</h1></div>
                {% endif %}
            {% endcapture %}
            {% if this-settings.title_type == 'off' %}
                {% assign res-title = 'off' %}
            {% endif %}

            {% assign this-res-links = null %}

            {% if this-settings.link_url_01 != blank %}
                {% capture this-res-link %}
                    <a href="{{ this-settings.link_url_01 }}" class="tt-subcategory">
                        {% if this-settings.link_image_01 != blank %}
                            <img src="{{ this-settings.link_image_01 | img_url: '1920x' }}" alt="{{ this-settings.link_title_01 }}">
                        {% endif %}
                        <p>{{ this-settings.link_title_01 }}</p>
                    </a>
                {% endcapture %}
                {% assign this-res-links = this-res-links | append: this-res-link | append: '|||' %}
            {% endif %}
            {% if this-settings.link_url_02 != blank %}
                {% capture this-res-link %}
                    <a href="{{ this-settings.link_url_02 }}" class="tt-subcategory">
                        {% if this-settings.link_image_02 != blank %}
                            <img src="{{ this-settings.link_image_02 | img_url: '1920x' }}" alt="{{ this-settings.link_title_02 }}">
                        {% endif %}
                        <p>{{ this-settings.link_title_02 }}</p>
                    </a>
                {% endcapture %}
                {% assign this-res-links = this-res-links | append: this-res-link | append: '|||' %}
            {% endif %}
            {% if this-settings.link_url_03 != blank %}
                {% capture this-res-link %}
                    <a href="{{ this-settings.link_url_03 }}" class="tt-subcategory">
                        {% if this-settings.link_image_03 != blank %}
                            <img src="{{ this-settings.link_image_03 | img_url: '1920x' }}" alt="{{ this-settings.link_title_03 }}">
                        {% endif %}
                        <p>{{ this-settings.link_title_03 }}</p>
                    </a>
                {% endcapture %}
                {% assign this-res-links = this-res-links | append: this-res-link | append: '|||' %}
            {% endif %}
            {% if this-settings.link_url_04 != blank %}
                {% capture this-res-link %}
                    <a href="{{ this-settings.link_url_04 }}" class="tt-subcategory">
                        {% if this-settings.link_image_04 != blank %}
                            <img src="{{ this-settings.link_image_04 | img_url: '1920x' }}" alt="{{ this-settings.link_title_04 }}">
                        {% endif %}
                        <p>{{ this-settings.link_title_04 }}</p>
                    </a>
                {% endcapture %}
                {% assign this-res-links = this-res-links | append: this-res-link | append: '|||' %}
            {% endif %}

            {% assign this-res-links = this-res-links | split: '|||' %}

            {% if this-res-links.size > 0 %}
                {% if this-res-links.size == 1 %}
                    {% assign res-links_grid = 'col-sm-12' %}
                    {% elsif this-res-links.size == 2 %}
                    {% assign res-links_grid = 'col-sm-6' %}
                    {% elsif this-res-links.size == 3 %}
                    {% assign res-links_grid = 'col-xl-4 col-lg-6 col-md-4 col-sm-6' %}
                    {% elsif this-res-links.size == 4 %}
                    {% assign res-links_grid = 'col-xxl-3 col-lg-6 col-md-3 col-sm-6' %}
                {% endif %}

                {% capture res-links %}
                    <div class="row">
                        {% for link in this-res-links %}
                            <div class="{{ res-links_grid }}">
                                {{ link }}
                            </div>
                        {% endfor %}
                    </div>
                {% endcapture %}
            {% endif %}
        {% endif %}

        {% if res-title and res-title != 'off' %}
            <div class="tt-listing-page__title">
                {{ res-title }}
            </div>
        {% endif %}

        {% if res-links %}
            <div class="tt-listing-page__subcategories">
                {{ res-links }}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{% if res-title-custom == false and section.settings.show_title_default %}
    <div class="tt-listing-page__category-name"><h1>{{ collection.title }}</h1></div>
{% endif %}



{% schema %}
{
"name": "Head",
"settings": [
{
"type": "checkbox",
"id": "show_title_default",
"label": "Show default title",
"default": true
}
],
"blocks": [
{
"type": "head",
"name": "Title, Banner and Links",
"settings": [
{
"type": "header",
"content": "Collection"
},
{
"type": "collection",
"id": "for_collection",
"label": "For a collection"
},
{
"type": "header",
"content": "Title"
},
{
"type": "select",
"id": "title_type",
"label": "Title type",
"default": "off",
"options": [
{
"value": "name",
"label": "Name"
},
{
"value": "banner",
"label": "Banner"
},
{
"value": "custom",
"label": "Custom"
},
{
"value": "off",
"label": "Off"
}
]
},
{
"type": "color",
"id": "text_color",
"label": "Text color"
},
{
"type": "select",
"id": "banner_animate",
"label": "Banner animate",
"default": "scale",
"options": [
{
"value": "scale",
"label": "Scale"
},
{
"value": "top",
"label": "Top"
},
{
"value": "bottom",
"label": "Bottom"
},
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
},
{
"value": "off",
"label": "Off"
}
]
},
{
"type": "header",
"content": "Links"
},
{
"type": "url",
"label": "Link #1",
"id": "link_url_01"
},
{
"type": "text",
"id": "link_title_01",
"label": "Link Title",
"default": "Link Title #1"
},
{
"type": "image_picker",
"id": "link_image_01",
"label": "Link Image"
},
{
"type": "url",
"label": "Link #2",
"id": "link_url_02"
},
{
"type": "text",
"id": "link_title_02",
"label": "Link Title",
"default": "Link Title #2"
},
{
"type": "image_picker",
"id": "link_image_02",
"label": "Link Image"
},
{
"type": "url",
"label": "Link #3",
"id": "link_url_03"
},
{
"type": "text",
"id": "link_title_03",
"label": "Link Title",
"default": "Link Title #3"
},
{
"type": "image_picker",
"id": "link_image_03",
"label": "Link Image"
},
{
"type": "url",
"label": "Link #4",
"id": "link_url_04"
},
{
"type": "text",
"id": "link_title_04",
"label": "Link Title",
"default": "Link Title #4"
},
{
"type": "image_picker",
"id": "link_image_04",
"label": "Link Image"
}
]
}
]
}
{% endschema %}