{%- comment -%}
{%- endcomment -%}
<div class="tt-layer-nav" data-section-type="sidebar" data-section-id="{{ section.id }}">
  <div class="tt-layer-nav__unallocated ttg-hidden">
    <div class="tt-layer-nav__title">{{ 'layout.sidebar.unallocated_filters' | t }}</div>
    <ul class="tt-layer-nav__categories tt-categories tt-collection-param{% comment %} active{% endcomment %}" data-tt-property="constraint"></ul>
  </div>

  {% for block in section.blocks %}
    {% assign block_sidebar = block.settings %}
    {% case block.type %}
    {% when 'collection' %}
    {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
    {% assign list = block_sidebar.list | split: ',' %}
    {% if list.size > 0 %}
      <ul class="tt-layer-nav__categories tt-categories tt-collection-param" data-tt-property="collection">
        {% for item in list %}
          {% assign item_out = item | strip %}
          {% assign item_handle = item | strip | handleize %}
          {% for name in collections %}
            {% if item_handle == 'all' or item_handle == name.handle %}
              <li{% if collection.handle == item_handle %} class="active"{% endif %}>
                <a href="#{{ item_handle }}" data-tt-value="{{ item_handle }}">{{ item_out }}</a>
              </li>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    {% when 'tag' %}
    {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
    {% assign list = block_sidebar.list | split: ',' %}
    {% if list.size > 0 %}
      <ul class="tt-layer-nav__categories tt-categories tt-collection-param" data-tt-property="constraint"{% if block_sidebar.only_single_item %} data-radio="true"{% endif %}>
        {% for item in list %}
          {% assign item_out = item | strip %}
          {% assign item_handle = item | strip | handleize %}
          <li{% if current_tags contains item_out %} class="active"{% endif %}>
            <a href="#{{ item_out }}" data-tt-value="{{ item_out }}">{{ item_out }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% when 'current_filters' %}
    <div class="tt-layer-nav__current-filters{% if current_tags == blank %} ttg-hidden{% endif %}">
      {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
      <div class="tt-layer-nav__tags" data-show-rprice="{{ block_sidebar.show_price_slider_tags }}">
        {% for tag in current_tags %}
          {% if block_sidebar.show_price_slider_tags == false and tag contains "rprice-" %}
            {% continue %}
          {% endif %}
          <span data-tt-value="{{ tag }}">{{ tag }}<i class="icon-cancel-1"></i></span>
        {% endfor %}
      </div>
    </div>
    {% when 'color' %}
    {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
    <ul class="tt-layer-nav__color tt-categories tt-collection-param" data-tt-property="constraint"{% if block_sidebar.only_single_item %} data-radio="true"{% endif %}>
      {% for inner_block in section.blocks %}
        {% if inner_block.type == 'color_item' %}
          {% assign color_block = inner_block.settings %}
          {% assign name = color_block.name | strip %}
          <li{% if current_tags contains name %} class="active"{% endif %}>
            <a href="#{{ name }}" data-tt-value="{{ name }}">
              {% if color_block.picker_bg != 'rgba(0,0,0,0)' %}
                {% assign color_bg = color_block.picker_bg %}
              {% endif %}
              {% if color_block.picker_bd != 'rgba(0,0,0,0)' %}
                {% assign color_bd = color_block.picker_bd %}
              {% endif %}
              {% if color_block.picker_arrow != 'rgba(0,0,0,0)' %}
                {% assign color_arw = color_block.picker_arrow %}
              {% endif %}
              <i
                      {% if color_bg or color_bd %}
                        style="
                        {%- if color_bg != blank -%}
                                background-color: {{ color_bg }};
                        {%- endif -%}
                  {%- if color_bd != blank -%}
                          border: solid 2px {{ color_bd }};
                  {%- endif -%}
                                "
                      {%- endif -%}
              >
                <i class="icon-ok-2"
                        {% if color_arw != blank %}
                          style="color: {{ color_arw }};"
                        {% endif %}
                ></i>
                {%- if color_block.image != blank -%}
                  <img src="{{ color_block.image | img_url: '20x' }}" alt="{{ name }}">
                {%- endif -%}
              </i>
              {{- name -}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% when 'price' %}
    {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
    {% for tag in current_tags %}
      {% if tag contains 'rprice-' %}
        {% assign rprice = tag | remove: 'rprice-' | split: '-' %}
        {% if rprice.size > 1 %}
          {% assign rprice_from = rprice[0] %}
          {% assign rprice_to = rprice[1] %}
        {% else %}
          {% assign rprice_from = rprice[0] %}
          {% assign rprice_to = rprice[0] %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <div class="tt-layer-nav__price-section">
      <div class="tt-layer-nav__price-range tt-collection-param" data-tt-property="constraint">
        <input type="hidden"
               data-min="{{ block_sidebar.min }}"
               data-max="{{ block_sidebar.max }}"
               data-step="{{ block_sidebar.step }}"
               data-from="{{ rprice_from | default: block_sidebar.min }}"
               data-to="{{ rprice_to | default: block_sidebar.max }}"
                {% if block_sidebar.symbol_pos == 'before' %}
                  data-prefix="{{ block_sidebar.symbol }}"
                  {% elsif block_sidebar.symbol_pos == 'after' %}
                  data-postfix="{{ block_sidebar.symbol }}"
                {% endif %}
        >
      </div>
    </div>
    {% when 'products' %}
    {% if block_sidebar.caption.size > 0 %}<div class="tt-layer-nav__title">{{ block_sidebar.caption }}</div>{% endif %}
    <div class="tt-layer-nav__new tt-layer-nav__product">
      {% for product in collections[block_sidebar.collection].products %}
        {% assign product_price = product.price | money %}
        <div class="tt-layer-nav__product-section">
          <div class="tt-layer-nav__product-image">
            <a href="{{ product.url }}">
              <img src="{{ product.images[0] | product_img_url: '100x' }}" alt="{{ product.title }}">
              {%- if product.metafields.ato.hotlabel == 1 -%}
                <span class="tt-layer-nav__product-label tt-label__hot">{{ 'products.product.label_hot' | t }}</span>
                {%- elsif product.metafields.ato.newlabel == 1 -%}
                <span class="tt-layer-nav__product-label tt-label__new">{{ 'products.product.label_new' | t }}</span>
                {% elsif product.compare_at_price > product.price %}
                <span class="tt-layer-nav__product-label tt-label__sale">{{ 'products.product.on_sale' | t }}</span>
              {% endif %}
            </a>
          </div>
          <div class="tt-layer-nav__product-info">
            <a href="{{ product.url }}"><p>{{ product.title | truncate: 40 }}</p></a>
            <div class="tt-layer-nav__product-price">
              <span class="tt-price{% if product.compare_at_price > product.price %} tt-price--sale{% endif %}">{{ product_price }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endcase %}
  {% endfor %}
</div>


{% schema %}
{
"name": "Sidebar",
"blocks": [
{
"type": "collection",
"name": "Collection",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Collection"
},
{
"type": "text",
"id": "list",
"label": "List collections",
"info": "Separate by a comma"
}
]
},
{
"type": "tag",
"name": "Tag filter",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Filter"
},
{
"type": "text",
"id": "list",
"label": "List tags",
"info": "Separate by a comma"
},
{
"type": "checkbox",
"id": "only_single_item",
"label": "Only single item"
}
]
},
{
"type": "current_filters",
"name": "Current Filters",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Current Filters"
},
{
"type": "checkbox",
"id": "show_price_slider_tags",
"label": "Show price slider tags",
"default": false
}
]
},
{
"type": "color",
"name": "Color",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Color"
},
{
"type": "checkbox",
"id": "only_single_item",
"label": "Only single item"
}
]
},
{
"type": "color_item",
"name": "Color Item",
"settings": [
{
"type": "text",
"id": "name",
"label": "Name",
"default": "Color"
},
{
"type": "color",
"id": "picker_bg",
"label": "Background"
},
{
"type": "color",
"id": "picker_bd",
"label": "Border"
},
{
"type": "color",
"id": "picker_arrow",
"label": "Arrow"
},
{
"type": "image_picker",
"id": "image",
"label": "Load Image"
}
]
},
{
"type": "products",
"name": "Collection Products",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Products"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
}
]
},
{
"type": "price",
"name": "Price Range",
"settings": [
{
"type": "text",
"id": "caption",
"label": "Caption",
"default": "Price"
},
{
"type": "text",
"id": "min",
"label": "Min",
"default": "0"
},
{
"type": "text",
"id": "max",
"label": "Max",
"default": "500"
},
{
"type":      "range",
"id":        "step",
"min":       50,
"max":       500,
"step":      50,
"label":     "Step",
"default":   100
},
{
"type": "text",
"id": "symbol",
"label": "Symbol",
"default": "$"
},
{
"type": "select",
"id": "symbol_pos",
"label": "Symbol position",
"default": "before",
"options": [
{
"value": "before",
"label": "Before"
},
{
"value": "after",
"label": "After"
}
]
}
]
}
]
}
{% endschema %}
