{%- comment -%}
{%- endcomment -%}
<div class="tt-giftcard text-center giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">

    {% if section.settings.show_logo %}
        <div role="banner" class="tt-giftcard__logo">
            {% if section.settings.logo != blank %}
                <h2 class="h1 tt-logo" itemscope itemtype="http://schema.org/Organization">
                    <a href="/" itemprop="url" class="site-logo">
                        <img src="{{ section.settings.logo | img_url: '132x40' }}"
                             srcset="{{ section.settings.logo | img_url: '132x40' }} 1x, {{ section.settings.logo | img_url: '132x40', scale: 2 }} 2x"
                             alt="{{ section.settings.logo.alt | default: shop.name }}"
                             itemprop="logo">
                    </a>
                </h2>
            {% else %}
                <h2>
                    <a href="/" itemprop="url" class="site-logo">
                        {{ shop.name }}
                    </a>
                </h2>
            {% endif %}
        </div>
    {% endif %}

    {% if settings.layout-show_breadcrumbs and section.settings.show_breadcrumbs %}
        <div class="tt-page__breadcrumbs">
            {% include 'breadcrumbs' %}
        </div>
    {% endif %}

    <div class="tt-page__name text-center ttg-mt--40">
        <h1>{{ 'gift_cards.issued.subtext' | t }}</h1>
    </div>

    {% unless gift_card.enabled %}
    <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
    {% endunless %}

    {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

    {% if gift_card.expired and gift_card.enabled %}
        <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}

    {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
        <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}


    <div class="tt-giftcard__image">
        {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: '440x260' }}"
                 srcset="{{ section.settings.image | img_url: '440x260' }} 1x, {{ section.settings.image | img_url: '880x520' }} 2x"
                 alt="{{ 'gift_cards.issued.subtext' | t }}">
        {% else %}
            <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="{{ 'gift_cards.issued.subtext' | t }}">
        {% endif %}

        <div class="tt-giftcard__code">
            {%- assign code_size = gift_card.code | format_code | size -%}
            <span id="GiftCardDigits">{{ gift_card.code | format_code }}</span>
        </div>
    </div>

    {% if formatted_initial_value != blank %}
        {%- assign initial_value_size = formatted_initial_value | size -%}
        <h2>{{ formatted_initial_value }}</h2>
    {% endif %}

    {% if gift_card.balance != gift_card.initial_value %}
        <p>{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}</p>
    {% endif %}

    {% assign res-balance = gift_card.balance | money | strip_html %}
    <p class="ttg-mt--50">{{ 'gift_cards.issued.redeem' | t: value: res-balance }}</p>

    <div id="QrCode" class="tt-giftcard__qr giftcard-qr ttg-mt--50" data-identifier="{{ gift_card.qr_identifier }}"></div>

    {% if gift_card.pass_url %}
        <a href="{{ gift_card.pass_url }}" class="apple-wallet">
            <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
    {% endif %}

    <div class="ttg-mt--50">
        <a href="{{ shop.url }}" class="btn tt-giftcard__btn-shopping" target="_blank">{{ 'gift_cards.issued.shop_link' | t }} <i class="icon-right"></i></a>
    </div>

    <div class="ttg-mt--20">
        <a href="#" id="PrintGiftCard" class="btn tt-giftcard__btn-print print-giftcard">{{ 'gift_cards.issued.print' | t }}</a>
    </div>
</div>



{% schema %}
{
"name": "Gift Card",
"settings": [
{
"type": "checkbox",
"id": "show_breadcrumbs",
"label": "Show breadcrumbs?",
"default": true
},
{
"type": "checkbox",
"id": "show_logo",
"label": "Show logo?",
"default": true
},
{
"type": "image_picker",
"id": "logo",
"label": "Logo image"
},
{
"type": "image_picker",
"id": "image",
"label": "Card image"
}
]
}
{% endschema %}
