{%- comment -%}
{%- endcomment -%}
<div data-section-id="{{ section.id }}" data-section-type="home-products-five" class="container-fluid ttg-cont-padding--none" >
  	<div class="tt-page__section-head tt-page__section-head--center tt-layout__section--pdg">
		<div class="tt-page__title"><a href="{{ collection.url }}">{{ section.settings.featured-text }}</a></div>
	</div>

	<div class="row ttg-grid-padding--none">
		{% if section.settings.products_type == '1plus4' %}
			{%- assign set-image_size = '960x960' -%}
			<div class="col-lg-6 col-sm-6">
				{%- assign product = all_products[section.settings.prd-big] -%}
				{% include 'product-list' %}
			</div>
		{% endif %}
		<div class="col-lg-6">
			{%- assign set-image_size = '480x480' -%}
			<div class="row ttg-grid-padding--none">
				<div class="col-lg-6 col-sm-6">
					{%- assign product = all_products[section.settings.prd-top-left] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-6 col-sm-6">
					{%- assign product = all_products[section.settings.prd-top-right] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-6 col-sm-6">
					{%- assign product = all_products[section.settings.prd-bottom-left] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-6 col-sm-6">
					{%- assign product = all_products[section.settings.prd-bottom-right] -%}
					{% include 'product-list' %}
				</div>
			</div>
		</div>
		{% if section.settings.products_type == '4plus1' %}
			{%- assign set-image_size = '960x960' -%}
			<div class="col-lg-6 col-sm-6">
				{%- assign product = all_products[section.settings.prd-big] -%}
				{% include 'product-list' %}
			</div>
		{% endif %}
	</div>
	{% comment %}
	<div class="{{ loc_row_class }}">
		{% for product in collection.products limit: loc-limit %}
			<div class="col-sm-6 col-md-{{ loc-colwidth }} col-xl-{{ loc-colwidth }} col-xxl-{{ loc-colwidth }}">
				{% if section.settings.sec-prd-type == 'desconhover' %}
					{% include 'product-list' %}
				{% else %}
					{% assign set-view = 'sheet' %}
					{% include 'product-list' %}
				{% endif %}
			</div>
		{% endfor %}
	</div>

	{% endcomment %}
</div>


{% schema %}
{
"name": "Products (4 plus 1)",
"settings": [
{
"type": "select",
"id": "products_type",
"label": "Layout type",
"default": "4plus1",
"options": [
{ "value": "4plus1", "label": "4 small and 1 big" },
{ "value": "1plus4", "label": "1 big and 4 small" }
]
},
{
"label": "Section title(text)",
"id": "featured-text",
"type": "text",
"default": "Featured Items"
},
{
"type": "product",
"id": "prd-big",
"label": "Big product"
},
{
"type": "product",
"id": "prd-top-left",
"label": "Small product (top, left)"
},
{
"type": "product",
"id": "prd-top-right",
"label": "Small product (top, right)"
},
{
"type": "product",
"id": "prd-bottom-left",
"label": "Small product (bottom, left)"
},
{
"type": "product",
"id": "prd-bottom-right",
"label": "Small product (bottom, rigth)"
}
],
"presets": [
{
"name": "Products (4 plus 1)",
"category": "3) Products",
"settings": {
}
}
]
}

{% endschema %}
