{%- comment -%}
{%- endcomment -%}
{%- comment -%} ### MARGIN ### {%- endcomment -%}
{%- assign loc_margin_class = '' -%}
{%- if section.settings.sec-margin == 'demo2'%}
	{%- assign loc_margin_class = ' tt-home__brands-01' -%}
{%- endif -%}
{%- if section.settings.sec-margin == 'custom'%}
	<style>
		.tt-home__custom_margin_{{ section.id }} {
			margin: {{ section.settings.sec-margin-custom }};
		}
	</style>
	{%- assign loc_margin_class = ' tt-home__custom_margin_' | append: section.id  -%}
{%- endif -%}

{%- comment -%} ### WIDTH ### {%- endcomment -%}
{%- assign loc_row_class = 'row tt-product-view' -%}
{%- if section.settings.sec-width == 'boxed' -%}
	{%- assign loc_container_class = 'container ttg-cont-padding--none' | append: loc_margin_class -%}
{%- elsif section.settings.sec-width == 'fullwidth' -%}
	{%- assign loc_container_class = 'container-fluid ttg-cont-padding--none' | append: loc_margin_class -%}
{%- endif -%}
{%- if section.settings.sec-grid-paddings == 'on' and section.settings.sec-prd-type == 'desconhover' -%}
	{%- assign loc_row_class = loc_row_class | append: ' tt-product-view--offset' -%}
{%- elsif section.settings.sec-grid-paddings == 'off' -%}
	{%- assign loc_container_class = loc_container_class | append: ' ttg-cont-padding--none' -%}
	{%- assign loc_row_class = loc_row_class | append: ' ttg-grid-padding--none' -%}
{%- endif -%}

{%- comment -%} ### CONTENT ### {%- endcomment -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign collection_title = collection.title -%}
{%- if section.settings.limit != blank -%}
	{%- assign loc-limit = section.settings.limit -%}
{%- else -%}
	{%- assign loc-limit = 999 -%}
{%- endif -%}

{%- assign loc-colwidth = 12 | divided_by: section.settings.products_per_row -%}

{% assign res-grid_mobile = null %}
{% if section.settings.products_per_row_mobile == '2' %}
	{% assign res-grid_mobile = 'col-xs-6 ' %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="home-products-col" class="container tt-page__section ttg-mb--40" >
		<div class="tt-page__section-head tt-page__section-head--center tt-layout__section--pdg">
			<div class="tt-page__title"><a href="{{ collection.url }}">{{ collection.title }}</a></div>
		</div>
	<div class="{{ loc_row_class }}">
		{%- assign set-image_size = '480x480' -%}
		{%- for product in collection.products limit: loc-limit -%}
			<div class="{{ res-grid_mobile }}col-sm-6 col-md-{{ loc-colwidth }} col-xl-{{ loc-colwidth }} col-xxl-{{ loc-colwidth }}">
				{%- if section.settings.sec-prd-type == 'afterimage' -%}
					{%- assign set-view = 'sheet' -%}
				{%- endif -%}
				{%- include 'product-list' with set-view -%}
			</div>
		{%- endfor -%}
	</div>
</div>


{% schema %}
{
"name": "Products (collection)",
"settings": [
{
"label": "Product's collection",
"id": "collection",
"type": "collection",
"info": "Show ALL products, unless you select needed collection."
},
{
"type": "select",
"id": "products_per_row",
"label": "Products per row",
"default": "4",
"info": "Applied only for Desktop view. (no tablets, no mobile)",
"options": [
{ "value": "3", "label": "3 products" },
{ "value": "4", "label": "4 products" }
]
},
{
"type": "select",
"id": "products_per_row_mobile",
"label": "Products per row",
"default": "1",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
}
]
},
{
"type": "text",
"id": "limit",
"label": "Product limit",
"default": "8",
"info": "Put number to limit out put for first NUMBER items. Empty - disable limit"
},
{
"type": "header",
"content": "Layout options"
},
{
"label": "Product Type",
"id": "sec-prd-type",
"type": "select",
"default": "desconhover",
"options": [
{
"value": "desconhover",
"label": "Info on Hover"
},
{
"value": "afterimage",
"label": "Info under product image"
}
]
},
{
"label": "Grid paddings",
"id": "sec-grid-paddings",
"type": "select",
"default": "off",
"options": [
{
"value": "off",
"label": "Off"
},
{
"value": "on",
"label": "On"
}
]
},
{
"label": "Width",
"id": "sec-width",
"type": "select",
"default": "boxed",
"options": [
{
"value": "boxed",
"label": "Boxed"
},
{
"value": "fullwidth",
"label": "Full Width"
}
]
},
{
"label": "Margin",
"id": "sec-margin",
"type": "select",
"default": "none",
"options": [
{
"value": "none",
"label": "None"
},
{
"value": "demo2",
"label": "Demo2"
},
{
"value": "custom",
"label": "Custom"
}
]
},
{
"label": "Custom Margin",
"id": "sec-margin-custom",
"type": "text",
"default": "10px"
}
],
"presets": [
{
"name": "Products (collection)",
"category": "3) Products",
"settings": {
}
}
]
}
{% endschema %}