{%- comment -%}
{%- endcomment -%}
{% if section.blocks.size > 0 %}
	{% include 'helper-section-layout' %}
	<div class="{{ res-container_class }}" data-section-id="{{ section.id }}" data-section-type="home-banners-product" {{ res-container_inline_style }}>
		<div class="{{ res-row_class }}">
			{%- for block in section.blocks -%}
				<div class="col-md-{{ res-banners_per_row }}" {{ res-item_inline_style }}>
					{% include 'home-banner-product-item' with block %}
				</div>
			{%- endfor -%}
		</div>
	</div>
{%- endif -%}
{%- if section.blocks.size == 0 -%}
	{% include 'no-blocks' %}
{%- endif -%}
{% schema %}
{
"name": "Home Banners (product)",
"settings": [
{
"label": "Width",
"id": "width",
"type": "select",
"default": "boxed",
"options": [
{ "value": "boxed", "label": "Boxed" },
{ "value": "fullwidth", "label": "Full Width" }
]
},
{
"label": "Banners per row",
"id": "inrow",
"type": "select",
"default": "3",
"options": [
{ "value": "2", "label": "2" },
{ "value": "3", "label": "3" },
{ "value": "4", "label": "4" }
]
},
{
"label": "Margin",
"id": "margin",
"type": "select",
"default": "none",
"options": [
{ "value": "none", "label": "None" },
{ "value": "demo2", "label": "100px auto 90px (demo2)" },
{ "value": "custom", "label": "Custom" }
]
},
{
"label": "Custom margin",
"id": "margin-custom",
"type": "text",
"default": "10px auto",
"info": "This is pure CSS value. [More info](https:\/\/www.w3schools.com\/cssref\/pr_margin.asp)"
},
{
"label": "Padding (grid inner)",
"id": "padding",
"type": "select",
"default": "none",
"options": [
{ "value": "none", "label": "None" },
{ "value": "demo2", "label": "0 12px 0 12px (demo2)" },
{ "value": "custom", "label": "Custom" }
]
},
{
"label": "Custom padding",
"id": "padding-custom",
"type": "text",
"default": "12px",
"info": "This is pure CSS value. [More info](https:\/\/www.w3schools.com\/cssref\/pr_padding.asp)"
}
],
"max_blocks": 12,
"blocks": [
{
"type": "banner",
"name": "Banner",
"settings": [
{
"label": "Image",
"id": "image",
"type": "image_picker"
},
{
"label": "Image hover animation",
"id": "image-hover-animation",
"type": "select",
"default": "right",
"options": [
{ "value": "right", "label": "left > right" },
{ "value": "left", "label": "right > left" },
{ "value": "top", "label": "bottom > top" },
{ "value": "bottom", "label": "top > bottom" },
{ "value": "scale", "label": "zoom in" },
{ "value": "", "label": "none" }
]
},
{
"label": "Product",
"id": "product",
"type": "product"
},
{
"type": "header",
"content": "Colors"
},
{
"type": "color",
"id": "color_title_c",
"label": "Text title"
},
{
"type": "color",
"id": "color_price_c",
"label": "Price title"
},
{
"type": "select",
"id": "color_btn_style",
"label": "Button style",
"default": "8",
"options": [
{ "value": "1", "label": "Type #1" },
{ "value": "2", "label": "Type #2" },
{ "value": "3", "label": "Type #3" },
{ "value": "4", "label": "Type #4" },
{ "value": "5", "label": "Type #5" },
{ "value": "6", "label": "Type #6" },
{ "value": "7", "label": "Type #7" },
{ "value": "8", "label": "Type #8" }
]
}
]
}
],
"presets": [
{
"name": "Banners (product)",
"category": "2) Banners"
}
]
}
{% endschema %}