{%- comment -%}
{%- endcomment -%}
{%- if section.blocks.size > 0 -%}
	{% include 'helper-section-layout' %}
	<div class="{{ res-container_class }}" data-section-id="{{ section.id }}" data-section-type="home-banners" {{ res-container_inline_style }}>
		<div class="{{ res-row_class }}">
		{%- for block in section.blocks -%}
			<div class="col-md-{{ res-banners_per_row }}" {{ res-item_inline_style }}>
				{% include 'home-banner-item' with block %}
			</div>
		{%- endfor -%}
		</div>
	</div>
{%- endif -%}
{%- if section.blocks.size == 0 -%}
	{%- include 'no-blocks' -%}
{%- endif -%}
{% schema %}
{
"name": "Lookbook Banners",
"settings": [
{
"label": "Width",
"id": "width",
"type": "select",
"default": "boxed",
"options": [
{ "value": "boxed", "label": "Boxed" },
{ "value": "fullwidth", "label": "Full Width" }
]
},
{
"label": "Banners per row",
"id": "inrow",
"type": "select",
"default": "3",
"options": [
{ "value": "2", "label": "2" },
{ "value": "3", "label": "3" },
{ "value": "4", "label": "4" }
]
},
{
"label": "Margin",
"id": "margin",
"type": "select",
"default": "none",
"options": [
{ "value": "none", "label": "None" },
{ "value": "demo2", "label": "100px auto 90px (demo2)" },
{ "value": "custom", "label": "Custom" }
]
},
{
"label": "Custom margin",
"id": "margin-custom",
"type": "text",
"default": "10px auto",
"info": "This is pure CSS value. [More info](https:\/\/www.w3schools.com\/cssref\/pr_margin.asp)"
},
{
"label": "Padding (grid inner)",
"id": "padding",
"type": "select",
"default": "none",
"options": [
{ "value": "none", "label": "None" },
{ "value": "demo2", "label": "0 12px 0 12px (demo2)" },
{ "value": "custom", "label": "Custom" }
]
},
{
"label": "Custom padding",
"id": "padding-custom",
"type": "text",
"default": "12px",
"info": "This is pure CSS value. [More info](https:\/\/www.w3schools.com\/cssref\/pr_padding.asp)"
}
],
"max_blocks": 30,
"blocks": [
{
"type": "banner",
"name": "Banner",
"settings": [
{
"label": "Image",
"id": "image",
"type": "image_picker"
},
{
"label": "Image hover animation",
"id": "image-hover-animation",
"type": "select",
"default": "right",
"options": [
{ "value": "right", "label": "left > right" },
{ "value": "left", "label": "right > left" },
{ "value": "top", "label": "bottom > top" },
{ "value": "bottom", "label": "top > bottom" },
{ "value": "scale", "label": "zoom in" },
{ "value": "", "label": "none" }
]
},
{
"label": "URL",
"id": "url",
"type": "url",
"info": "Optional"
},
{
"label": "Line 1 (text)",
"id": "text1",
"type": "text",
"default": "Title 1"
},
{
"label": "Text position",
"id": "text1-position",
"type": "select",
"default": "top left",
"options": [
{ "value": "top left", "label": "Top Left" },
{ "value": "top h-center", "label": "Top Center" },
{ "value": "top right", "label": "Top Right" },
{ "value": "v-center left", "label": "Center Left" },
{ "value": "v-center h-center", "label": "Center Center" },
{ "value": "v-center right", "label": "Center Right" },
{ "value": "bottom left", "label": "Bottom Left" },
{ "value": "bottom h-center", "label": "Bottom Center" },
{ "value": "bottom right", "label": "Bottom Right" }
]
},
{
"label": "Line 2, Part 1(text)",
"id": "text2",
"type": "text",
"default": "28"
},
{
"label": "Line 2, Part 2(text)",
"id": "text2-p2",
"type": "text",
"default": "products"
},
{
"label": "Hover text position",
"id": "text2-position",
"type": "select",
"default": "v-center h-center",
"options": [
{ "value": "top left", "label": "Top Left" },
{ "value": "top h-center", "label": "Top Center" },
{ "value": "top right", "label": "Top Right" },
{ "value": "v-center left", "label": "Center Left" },
{ "value": "v-center h-center", "label": "Center Center" },
{ "value": "v-center right", "label": "Center Right" },
{ "value": "bottom left", "label": "Bottom Left" },
{ "value": "bottom h-center", "label": "Bottom Center" },
{ "value": "bottom right", "label": "Bottom Right" }
]
},
{
"type": "header",
"content": "Colors"
},
{
"type": "color",
"id": "color_title_c",
"label": "Text title"
},
{
"type": "color",
"id": "color_title_h_c",
"label": "Hover text title"
},
{
"type": "color",
"id": "color_info_h_c",
"label": "Hover text info"
},
{
"type": "color",
"id": "color_quantity_h_c",
"label": "Hover text quantity"
},
{
"type": "color",
"id": "color_h_bg",
"label": "Hover background"
}
]
}
]
}
{% endschema %}