{%- comment -%}
{%- endcomment -%}
{% layout 'password' %}

      {% comment %}
		<h4>{{ 'general.password_page.opening_soon' | t }}</h4>
		<p class="ttg-fw--bold colorize-theme-c ttg-mt--20">{{ 'general.subscribe.password_page_text_line1' | t }}</br>{{ 'general.subscribe.password_page_text_line2' | t }}</p>
		<div class="tt-comming-soon__newsletter">
			{% assign set-style = settings.color_password_newsletter_type %}
			{% include 'subscribe' %}
		</div>
		{% endcomment %}

		{%- if settings.open_date -%}
			<div class="tt-comming-soon__countdown"
				 data-date="{{ settings.open_date }}"
				 data-year="{{ 'general.countdown.years' | t }}"
				 data-month="{{ 'general.countdown.months' | t }}"
				 data-week="{{ 'general.countdown.weeks' | t }}"
				 data-day="{{ 'general.countdown.days' | t }}"
				 data-hour="{{ 'general.countdown.hours' | t }}"
				 data-minute="{{ 'general.countdown.minutes' | t }}"
				 data-second="{{ 'general.countdown.seconds' | t }}">
			</div>
		{%- endif -%}

<div class="tt-comming-soon">
	{%- if settings.comming_image -%}
		<img src="{{ settings.comming_image | img_url: '1920x' }}" class="tt-comming-soon__image--pos-{{ settings.comming_image_pos }}" alt="{{ 'general.password_page.opening_soon' | t }}">
	{%- endif -%}
	<div class="tt-comming-soon__content mt-50">
        <a href="/" itemprop="url" class="site-logo">
          <img src="https://cdn.shopify.com/s/files/1/0024/2945/2349/files/a-esque-logo-white-new.png?16932361424256979784"
               alt="{{ section.settings.logo.alt | default: shop.name }}"
               itemprop="logo"
               {{ res-logo_styles }}>
      	</a>

		<div id="Login">
			<h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
			<div class="tt-comming-soon__form">
				{% form 'storefront_password' %}
					<div class="tt-form">
						<form action="/search" method="get" role="search" class="text-center">
							{% include 'form-get-message' %}
							<label for="Password">{{ 'general.password_page.login_form_password_label' | t }}</label>
							<div class="tt-form__section">
								<input type="password"
									   name="password"
									   id="Password"
									   class="form-control colorize-theme6-bg"
									   placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
									   required="required">
								<button type="submit" class="btn">{{ 'general.password_page.login_form_submit' | t }}</button>
							</div>
						</form>
					</div>
				{% endform %}
			</div>
         
			{% comment %}<p>{{ 'general.password_page.admin_link_html' | t }}</p>{% endcomment %}
		</div>
  </div>
</div>