{% capture url %}
            https://widget.coattend.com?template=true&product_id={{product.id}}{% if product.selected_variant.id %}&variant_id={{product.selected_variant.id}}{% endif %}{% if customer %}&customer_id={{customer.id}}{% endif %}&shop={{shop.permanent_domain}}
            {% endcapture %}
            <div id="coattend-iframe-cnt" style="padding: 20px 10px">
                <iframe id="coattend-iframe" width="100%" height="600px" src="{{url | strip}}" frameborder="0" allowfullscreen></iframe>
            </div>